<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finate | Job Portal - Candidat Details</title>
    
    <!-- custom css included -->
    <link rel="stylesheet" href="/css/notForHome.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/register.css"> -->


    <!-- bootstrap css included -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eNp0OSW9qZlE5P2R1V1PJVlWr59Upv2Jz4pXTaUQx0FhFu4pGgF6GzDqrik3iX3l" crossorigin="anonymous"></script>


     <!-- fontAwesome inclued -->
     <script src="https://kit.fontawesome.com/9cebbb4b18.js" crossorigin="anonymous"></script>
     <style>
        .secondary-heading{
            color: red;
            font-size: 18px !important;
            font-weight: 700;
            color: #272a33 !important;
        }
        
     </style>
</head>
<body>
    <section class="hero-section ">
        <!--======== HeaderStart ======-->
        <%- include('./components/header.ejs') %>

        <!--====== Header END =====-->
        <hr class="mt-0 text-white " >
        <!-- =====BreadCrumb   start=====-->
        <div class="container breadcrumbs-container ">
                <div class="breadcrumb my-auto">
                    <h1 class=" hero-heading  ">Candidate Details</h1>   
                    <p class="paragraph-text nav-item"><a href="/" class="">Home </a> <span class="active-page"> &nbsp; // Candidate Details</span></p>
                </div>          
        </div>
    </section>
    <section class="section pb-5">
        <div class="container">
            <% const {name,address,profession,email,resume,contactNo,age,offeredSalary,profile,about,college,qualification,educationDescription,experiencePosition,experienceDescription,organization,level,gender,experience,facebook,instagram,github,twitter,linkedin,skills}=candidate %>
            <!-- First row start -->
           <div class="job-detail-first-row p-5">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12  display-flex   job-detail-job-and-salary">
                    <div class="job-detail-company-logo my-auto">
                        <img src="/uploads/<%- profile %>" alt="">
                    </div>
                    <div class="job-detail-info mx-4 my-auto">
                        <h3 class="section-heading job-detail-job my-1"><%- name  %></h3>
                        <p class="job-detail-company-name my-1"><%- profession  %></p>
                        <p class="job-detail-company-address "><i class="fa-solid fa-location-dot"></i> <%- address  %>&nbsp; <i class="fa-solid fa-phone"></i> <%- contactNo  %></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12 my-auto company-and-job ">
                    <div class="candiate-detail-buttons my-3">
                            <div><a href="mailto:<%- email %>" class="apply-now-btn job-detail-apply-btn " id="upper-button">&nbsp; &nbsp; &nbsp;Send Email &nbsp;&nbsp; &nbsp; &nbsp;</a></div>
                            
                            <div><a href="/uploads/<%-resume  %>" class="apply-now-btn job-detail-apply-btn" download="<%-resume  %>">Download Resume</a></div>
                    </div>
                </div>
            </div>
           </div>
           <!-- second row start -->
           <div class="job-detail-second-row my-5">
            
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-12">

                        <!-- about candidate -->
                        <div class="description ">
                            <h3 class="section-heading mt-2">About Candidate</h3>

                            <p><%-about  %>
                            </p>

                        </div>
                        <!-- Skills -->
                        <div class="row">
                            <div class="col-lg-12"><div class="software-skill">
                                <h3 class="section-heading mt-2"> Skills</h3>
                                <ul>
                                    <% const arr = skills.split(",");
                                       arr.forEach(element => { %>
                                           <li><%- element.trim() %></li>
                                    <% }); %>
                                </ul>
                            </div></div>
                        </div>
                        <div class="education ">
                            <h3 class="section-heading">Education</h3>
                            <div class="border-box-container my-4">
                                <div class="left-border-box">
                                    <p class="mb-0"><span class="secondary-heading "><%-qualification  %></span></p> 
                                    <p class="primary-color my-2" ><b><%-college  %></b></p>
                                    <p><%- educationDescription %></p>
                                </div>
                            </div>
                        </div>
                        <div class="work-and-experience ">
                            <h3 class="section-heading">Work and Experience</h3>
                            <div class="border-box-container my-4">
                                <div class="left-border-box">
                                    <p class="mb-0"><span class="secondary-heading "><%- experiencePosition %></span></p> 
                                    <p class="primary-color my-2" ><b><%- organization %></b></p>
                                    <p><%- experienceDescription %></p>
                                </div>
                            </div>
                        </div>
                       
                       
                        
                    </div>
                    <div class="col-lg-5 col-md-12 col-12 my-lg-5 my-sm-3">
                            <div class="side-boxes p-5 ">
                                <h3 class="section-heading">Information</h3>
                                <hr class="heading-underline  mb-4"><div class="">
                                <div class="container px-0">
                                        <div class="row">
                                        
                                            <!--  Category -->
                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                     Level  
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="category"> <%- level%></span></p>
                                            </div>
                                            <!--  Offered Salary -->
                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                   Offered Salary 
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="offered-salary">Rs <%- offeredSalary %> / Monthly</span></p>
                                            </div>
                                            
                                            
                                            <!--  Experience -->
                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                    Experience   
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="experience"> <%- experience %> </span> Years</p>
                                            </div>
                                            
                                            <!--  Gender -->
                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                    Gender   
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="gender"> <%- gender %> </span> </p>
                                            </div>

                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                    Age   
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="gender"> <%- age %></span> </p>
                                            </div>
                                            <!--  Qualification -->
                                            <div class="col-6 col-lg-4 col-md-6">
                                                <p  class="text-black ">
                                                    Qualification   
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-8 col-md-6">
                                                <p >:&nbsp;&nbsp;&nbsp;&nbsp;<span id="qualification"><%- qualification %></span> </p>
                                            </div>
                                            
                                        </div>
                                </div>
                            </div>
                        </div>
                            <div class="side-boxes p-5 mt-5 ">
                                <h3 class="section-heading">Get Connected</h3>
                                <hr class="heading-underline  mb-4">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-lg-2-col-md-2 col-2 side-box-icon-container ">
                                            <a href="<%- facebook %>"><i class="fa-brands fa-facebook"></i></a>
                                        </div>
                                        <div class="col-lg-2-col-md-2 col-2 side-box-icon-container">
                                            <a href="<%- twitter %>"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                        <div class="col-lg-2-col-md-2 col-2 side-box-icon-container">
                                            <a href="<%- linkedin %>"><i class="fa-brands fa-linkedin"></i></a>
                                        </div>
                                        <div class="col-lg-2-col-md-2 col-2 side-box-icon-container">
                                        <a href="<%- instagram %>"> <i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                        <div class="col-lg-2-col-md-2 col-2 side-box-icon-container">
                                        <a href="<%- github %>"> <i class="fa-brands fa-github"></i></a>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <%- include("./components/footer.ejs") %>

</footer>
</body>
<script src="/js/index.js"></script>
</html>